* {
    baseColor: #282828;
    secondaryColor: #383838;
}

.jfx-tab-pane .tab-header-background{
    -fx-background-color: secondaryColor;
}
.jfx-tab-pane .tab{
    -fx-min-width: 100;
    -fx-background-color: baseColor;
}

.split-pane{
    -fx-background-color: baseColor;
}

.split-pane:horizontal .split-pane-divider{
    -fx-background-color: secondaryColor;
    -fx-padding: 0 3 0 0;
}

.scroll-pane{
    -fx-background: baseColor;
    -fx-background-color: baseColor;
}

.jfx-button{
    -fx-background-color: #f1c566;
    -fx-min-width: 300;
    -fx-min-height: 50;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.resultsView{
    -fx-background-color: baseColor;
}

.chart-pie-label{
    -fx-fill: white;
}

.chart-pie-label-line{
    -fx-fill: white;
}

.chart-pie{
    -fx-border-color: secondaryColor;
    -fx-border-width: 1px;
    -fx-background-insets: 0px;
}

.jfx-progress-bar{

}